{% extends 'main/index.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/wordpress.css') }}" />
{% endblock %}
{% block main %}
<h1 class="text-center">WordPress {{ wordpressData.getVersion() }}</h1>
<form class="form-horizontal" id="base-settings">
    <div id="database-information" class="panel panel-default">
        <div class="panel-heading">
            <h3>Database setup</h3>
            <p class="text-info">Setup a database with following values</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-2" for="database-name">Database name</label>
                <div class="col-xs-6">
                    <input type="text" readonly class="form-control" id="database-name" value="{{ dbName }}" placeholder="wordpress">
                </div>
                <p class="help-block">
                    Database name
                </p>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <a href="#required-information" id="next-required-info" title="Next step" class="btn btn-primary pull-right next">Next step</a>
            <button id="check-database-connection" title="Check database connection" class="btn btn-default pull-right">Check database connection <span class="glyphicon glyphicon-refresh hidden"></span></button>
        </div>
    </div>
    <div id="required-information" class="panel panel-default">
        <div class="panel-heading">
            <h3>Required information</h3>
            <p class="text-info">This information can be changed later</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-2" for="site-language">Language</label>
                <select class="form-control col-xs-3" name="site-language" id="site-language">
                    <option value="en_US">English (United States)</option>
                    {% for language in availableLanguages %}
                        <option value="{{ language.language }}">{{ language.native_name }}</option>
                    {% endfor %}
                </select>
                <p class="help-block">
                    Select the site language
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="site-title">Site title</label>
                <div class="col-xs-6">
                    <input type="text" name="site-title" class="form-control" id="site-title" placeholder="My WordPress Site" value="">
                </div>
                <p class="help-block">
                    Name your site
                </p>
            </div>
            <div class="checkbox">
                <label>
                    <input name="no-content" type="checkbox"> Clean install <span class="label label-info">No demo content is included</span>
                </label>
            </div>
            <div class="panel-footer clearfix">
                <a href="#theme-settings" id="next-theme-settings" title="Next step" class="btn btn-primary pull-right next">Next step</a>
            </div>
        </div>
        <button id="downloadPackage" type="submit">Download package</button>
    </div>
</form>

    <div class="modal fade" tabindex="-1" role="dialog" id="database-connection-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>Could not establish database connection. Check your configuration.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% block scripts %}
        <script src="{{ asset('js/wordpress.js') }}"></script>
    {% endblock %}
{% endblock %}