{% extends 'main/index.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/wordpress.css') }}" />
{% endblock %}
{% block main %}
<h1 class="text-center">WordPress {{ wordpressData.getVersion() }}</h1>
<form class="form-horizontal" id="settings">
    <div id="database-information" class="panel panel-default">
        <div class="panel-heading">
            <h3>Database setup</h3>
            <p class="text-info">Setup your database information</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2" for="database-name">Database name</label>
                    <div class="col-xs-6">
                        <input type="text" name="database-name" readonly class="form-control" id="database-name" value="{{ dbName }}" placeholder="wordpress">
                    </div>
                    <p class="help-block">
                        You have to setup a database with the provided name
                    </p>
                </div>
                <div class="row">
                    <label for="database-username" class="col-xs-2">Database username</label>
                    <div class="col-xs-6">
                        <input type="text" name="database-username" class="form-control" id="database-username" placeholder="root">
                    </div>
                    <p class="help-block">
                        Your database username
                    </p>
                </div>
                <div class="row">
                    <label for="database-password" class="col-xs-2">Database password</label>
                    <div class="col-xs-6">
                        <input type="password" name="database-password" class="form-control" id="database-password" placeholder="password">
                    </div>
                    <p class="help-block">
                        Your database password
                    </p>
                </div>
                <div class="row">
                    <label for="database-host" class="col-xs-2">Database host</label>
                    <div class="col-xs-6">
                        <input type="url" name="database-host" class="form-control" id="database-host" placeholder="http://yourhost.com/wordpress/">
                    </div>
                    <p class="help-block">
                        Your database host (URL)
                    </p>
                </div>

            </div>
        </div>
        <div class="panel-footer clearfix">
            <a href="#required-information" id="next-required-info" title="Next step" class="btn btn-primary pull-right next">Next step</a>
            <button id="check-database-connection" title="Check database connection" class="btn btn-default pull-right" type="button">Check remote database connection <span class="glyphicon glyphicon-refresh hidden"></span></button>
        </div>
    </div>
    <div id="required-information" class="panel panel-default">
        <div class="panel-heading">
            <h3>Required information</h3>
            <p class="text-info">This information can be changed later</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-2" for="site-language">Language</label>
                <select class="form-control col-xs-3" name="site-language" id="site-language">
                    <option value="en_US">English (United States)</option>
                    {% for language in availableLanguages %}
                        <option value="{{ language.language }}">{{ language.native_name }}</option>
                    {% endfor %}
                </select>
                <p class="help-block">
                    Select the site language
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="site-title">Site title</label>
                <div>
                    <input type="text" name="site-title" class="form-control" id="site-title" placeholder="My WordPress Site" value="">
                </div>
                <p class="help-block">
                    Name your site
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="user-site-url">Site URL</label>
                <div>
                    <input type="url" name="user-site-url" class="form-control" id="user-site-url" placeholder="http://yoursite.com" value="">
                </div>
                <p class="help-block">
                    Provide a URL for accessing your WordPress instance
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="username">Username</label>
                <div>
                    <input type="text" name="username" class="form-control" id="username" placeholder="John Doe" value="">
                </div>
                <p class="help-block">
                    Usernames can have only alphanumeric characters, spaces, underscores, hyphens, periods and the @ symbol.
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="password">Password</label>
                <div>
                    <input type="password" name="password" class="form-control" id="password" value="">
                </div>
                <p class="help-block">
                    The password should be at least seven characters long. To make it stronger, use upper and lower case letters, numbers and symbols like ! " ? $ % ^ & )
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="email">E-Mail</label>
                <div>
                    <input type="email" name="email" class="form-control" id="email" value="">
                </div>
                <p class="help-block">
                    Double-check your email address before continuing.
                </p>
            </div>
            <div class="checkbox">
                <label>
                    <input name="no-content" type="checkbox"> Clean install <span class="label label-info">No demo postings are included</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="privacy" type="checkbox"> Search engine visibility <span class="label label-info">Discourage search engines from indexing this site</span>
                </label>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <a href="#post-installation-settings" id="next-post-installation-settings" title="Next step" class="btn btn-primary pull-right next">Next step</a>
        </div>
    </div>
    <div id="post-installation-settings" class="panel panel-default">
        <div class="panel-heading">
            <h3>Configuration</h3>
            <p class="text-info">Upload your configuration file for theme, plugin and post insert</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-2" for="configuration-file">Configuration file</label>
                <div class="col-xs-6">
                    <input type="file" name="configuration-file" accept="application/json" class="form-control" id="configuration-file" >
                </div>
                <p class="help-block">
                    Only <strong>.json</strong> files are accepted <button id="sample-config-file-download" class="btn-xs btn-primary">Download a sample</button>
                </p>
            </div>
        </div>
        <div class="panel-footer clearfix">
            <button class="btn-primary btn-lg center-block" id="downloadPackage" type="button">Download package</button>
        </div>
    </div>
</form>

    <div class="modal fade" tabindex="-1" role="dialog" id="database-connection-error-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p>Could not establish database connection. Check your configuration.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% block scripts %}
        <script src="{{ asset('js/wordpress.js') }}"></script>
    {% endblock %}
{% endblock %}